.form-wrapper{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  top: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 200px;
  background: #fff;
  border-radius: 5px;
  min-width: 500px;
  position: relative;
  text-align: center;

  &_button {
    font-size: 15px;
    color: gray;
    padding: 5px;
    border-radius: 5px;
  }
}

.buttons {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}
