@import "colors";

.button {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid transparent;
  background: none;
  border-radius: 5px;
  font-weight: 400;
  transition: border .2s ease,background-color .2s ease,color .15s ease;
  cursor: pointer;
  box-sizing: border-box;
  padding: 8px 20px;
  min-width: 90px;

  &_bold {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &_orange {
    color: $white;
    background-color: $orange-1;
    border-color: $orange-1;

    &:hover {
      background-color: $orange-2;
      border-color: $orange-2;
    }
  }
}
