@import "colors";

%row {
  display: table-row;
  padding: 20px;
  align-items: center;
  text-align: left;
  background: $white;
}

%cell {
  display: table-cell;
  padding: 20px;
  color: $text-color;
}

.content {
  padding: 30px
}

.table {
  width: 100%;
  margin-top: 30px;
  display: table;

  &_row {
    @extend %row;
  }

  &_row__selectable {
    @extend %row;
    border-bottom: 1px solid $grey !important;

    &:hover {
    cursor: pointer;
    background: $hover;
  }

    &:focus {
      outline: none;
    }
  }

  &_heading {
    display: table-header-group;
  }

  &_header {
    @extend %cell;
    text-align: left;
    font-weight: 800;
    border-bottom: 1px solid $grey;
  }

  &_cell {
    @extend %cell;
    font-size: 14px;
  }
}
